*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #2ABF95;
    height: 81px;
    border-bottom: 3px solid #000;
  }
  
  .menu img{
    padding: 15px;
  }
  
  .menu-items a{
    margin-left: 20px;
    color: #BF2A70;
    width: 10px;
  }
  
  .menu-items i:hover{
    transform: scale(2);
  }

section.cart{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    max-width: 960px;
    padding: 0 2%;
    flex-wrap: wrap;
    margin: 30px auto;
    justify-content: space-around;
}

.product-description{
    width: 100%;
}

.details{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.details li{
    display: inline block;
}
.product-description img{
    height: 200px;
}

.product-description h1{
    font-size: 30px;
    font-weight: 800;
    color: #2ABF95;
}

.price{
    font-weight: 800;
}

.product-description .fa-solid, a {
    text-decoration: none;
    color: #BF2A70;
    margin-top: 15%;
    cursor: pointer;
}

.proditem{
    color: gray;
}

span{
    font-size: 25px;
    font-weight: 800;
    color: #2ABF95;
    padding-bottom: 20px;
}

#total{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.shopbtn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #2ABF95;
    float: inline-end;
    display: block;
 
    margin: 0;
    border: 5px solid #2ABF95;
    border-radius: 20px;
    padding: 15px;
    width: fit-content;
    cursor: pointer;   
}

.checkbtn{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #2ABF95;
    border: 5px solid #2ABF95;
    margin-top: 100px;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;   
}

.shopbtn:hover{
    border: 5px solid #BF2A70;
    color: #BF2A70;  

}
.checkbtn:hover{
    border: 5px solid #BF2A70;
    color: #BF2A70;  

}



  