
body { font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: 300; color: #BF2A70; ; }

#page { max-width: 1200px; margin: 0 auto; position: relative;}


/********header*******/
header {
  display: flex;
  justify-content: space-between;
  background-color: #2ABF95;
  border-bottom: 5px solid #000;
  padding: 10px,20px;       
}

img {  
  width: 160px; height: 66px; padding: 10px; padding-left: 30px;}

nav { text-align: right;}

a { 
  display: inline-flex;
  align-items: center;
  color: #BF2A70; 
  text-decoration: none; font-size: 20px; 
  margin-right: 30px;
  padding-top: 30px;
  transition: transform 100ms linear;
}

a:hover { 
  transform: scale(1.09);}

h1 {
  padding-left: 30px;} 


  /*****banner***/
h2 { 
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 40px;
  color: #000;
  margin: 0; }


.banner {
  background-image: url(../images/bannerjpg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 600px;
}
/*BUTTONSEARCh STYLE LATER****
#btnsearch:hover {
    background-color: #BF2A70;
    color: #2ABF95;}
******************************/    
