#page { 
  max-width: 1200px; 
  margin: 0 auto; position: relative;
}

body {
  color: #BF2A70;
}

/*************HEADER**************/
header {
  display: flex;
  justify-content: space-between;
  background-color: #2ABF95;
  border-bottom: 5px solid #000;
  position: fixed;
  width: 100%;       
}

img {  
  width: 160px; height: 66px; 
  padding: 10px; padding-left: 30px;
}

li {
  display: inline-flex;
}

a { 
  font-family: 'Open Sans', sans-serif; 
  font-size: 20px; font-weight: 300; 
  text-decoration: none;
  color: #BF2A70;
  margin: 30px;

}

a:hover { 
  transform: scale(1.09);
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px; font-weight: 300;
  color: #BF2A70;  

}

/***********BANNER******************/

.banner {
  background-image: url(../images/bannerjpg.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height: 600px;
  border-bottom: 5px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
} 
.button {
  border: 5px solid #2ABF95;
  background-color: #fff; opacity: .3;
  height: 20px;
  padding: 10px;
  line-height: 20px;
  border-radius: 20px; 
  color: #2ABF95;
}
.button:hover {
  background-color: #BF2A70; opacity: 100%;
}


/***********FOOTER***********/

footer{
  background-color: #182026;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.contact-info a{
 margin: 0;
 padding-top: 5px;
}

.social-logos a {
  font-size: 30px;
  padding-top: 3px;
  margin: 5px;
}

p {
  margin-top: 3px;
}